* {
    font-family: 'Press Start 2P', cursive;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
}
.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

.types {
    list-style: none;
    padding: 0;
    margin: 0;
}
.type {
    background-color: #ffffff49;
    padding: 0.1rem 0.4rem;
    margin-top: 5px;
    background-size: auto;
    border-radius: 1rem;
    display: table;
    font-size: .625rem;
}

@media screen and (min-width: 992px){
}


.content{
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
}

