.integrantes{
    background-image: url(../img/walpapers/Pokemon-Pokedex.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #7FAC71;

}

.container-names{
    background-color: #FFF;
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    border: black solid 5px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.container-names div {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.container-names div:hover {
  transform: translateX(10px);
}

.container-names div::after {
  content: "";
  background-image: url(../img/walpapers/1976606-200.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: block;
}

.container-names div:hover::after {
  opacity: 1;
}

header{
    display: flex;
    justify-content: center;
    width: 100%;
    display: block;
}

main{
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

